html {
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 300;
}
body {
  font-family: 'Inter', sans-serif;
  background-color: #f1f5f9;
}

.site__title__content {
  color: #235365;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 0px 0px 0px;
  gap: 10px;
}
.select-input {
  box-sizing: border-box;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
}

.nav-select {
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  color: #235365;
  text-underline-offset: 10px;
}
.nav-noselect {
  text-decoration: none;
  color: #454545;
}
