name: Backend Lint

on:
  pull_request:
    branches:
      - main
    paths:
      - backend/**
      - .github/workflows/backend-lint.yaml

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Setup
        uses:
          actions/setup-go@v2
        with:
          go-version: 1.16
        id: go

      - name: Checkout
        uses: actions/checkout@v2

      - name: Run lint
        run: make lint
        working-directory: ./backend
